// SPDX-License-Identifier: GPL-2.0-or-later OR MIT
/*
 * Copyright 2024 Toradex
 * Copyright 2025 Refeyn
 *
 * Device tree for Toradex Aquila AM69 SoM on Refeyn carriers
 */

/dts-v1/;

#include "k3-j784s4.dtsi"
#include "k3-am69-aquila.dtsi"

/ {
	model = "Toradex Aquila AM69 on Refeyn carrier boards";
	compatible = "toradex,aquila-am69-refeyn",
		     "toradex,aquila-am69",
		     "ti,j784s4";

	aliases {
		eeprom1 = &carrier_eeprom;
	};
};


&main_pmx0 {
	/* Aquila CAN_1 (Debug switches) */
	pinctrl_main_mcan10_gpio: main-mcan10-gpio-pins {
		pinctrl-single,pins = <
			J784S4_IOPAD(0x0b8, PIN_INPUT, 7)  /* (AC34) MCASP1_ACLKX.MCAN10_RX */ /* AQUILA B49 */
			J784S4_IOPAD(0x0b4, PIN_INPUT, 7)  /* (AL34) MCASP1_AXR4.MCAN10_TX  */ /* AQUILA B48 */
		>;
	};

	/* Aquila ETH_2_XGMII_MDIO (POWER_CONTROL) */
	pinctrl_pwr_control: pwr-control-gpio-pins {
		pinctrl-single,pins = <
			J784S4_IOPAD(0x058, PIN_INPUT, 7) /* (AE37) MCASP2_AFSX.GPIO0_22  */ /* AQUILA B90 */
			J784S4_IOPAD(0x0c0, PIN_INPUT, 7) /* (AD38) MCASP1_AXR0.GPIO0_48  */ /* AQUILA B90 */
		>;
	};
};

&wkup_pmx2 {
	/* Aquila CAN_2 (Debug switches) */
	pinctrl_mcu_mcan0_gpio: mcu-mcan0-gpio-pins {
		pinctrl-single,pins = <
			J784S4_WKUP_IOPAD(0x054, PIN_INPUT, 7)  /* (F38) MCU_MCAN0_RX  */ /* AQUILA B51 */
			J784S4_WKUP_IOPAD(0x050, PIN_INPUT, 7)  /* (K33) MCU_MCAN0_TX  */ /* AQUILA B50 */
		>;
	};
};

/* Aquila CTRL_PWR_BTN_MICO# */
&aquila_key_power {
	status = "okay";
};

/* Aquila CTRL_WAKE1_MICO# */
&aquila_key_wake {
	status = "okay";
};

/* On-module ETH_1 MDIO */
&davinci_mdio {
	status = "okay";
};

&dss {
	status = "okay";
};

/* Aquila PWM_3_DSI */
&main_ehrpwm5 {
	status = "okay";
};

&main_gpio0 {
	pinctrl-names = "default";
	pinctrl-0 = <&pinctrl_usb1_en_gpio>, <&pinctrl_main_mcan10_gpio>, <&pinctrl_pwr_control>;

	/* USB_1_EN Driven by Power Delivery IC - must be driven high */
	usb1en-hog {
		gpio-hog;
		gpios = <11 GPIO_ACTIVE_HIGH>;
		output-high;
		line-name = "USB_1_EN";
	};
};

/* Aquila I2C_3_DSI1 */
&main_i2c0 {
	status = "okay";
};

/* Aquila I2C_6 */
&main_i2c5 {
	status = "okay";
};

/* Aquila UART_3, used as the Linux console */
&main_uart8 {
	status = "okay";
};

&mcu_cpsw {
	status = "okay";
};

/* On-module ETH_1 RGMII */
&mcu_cpsw_port1 {
	status = "okay";
};

/* Aquila I2C_1 */
&mcu_i2c0 {
	clock-frequency = <100000>;
	status = "okay";

	/* Fan controller */
	fan@18 {
		compatible = "ti,amc6821";
		reg = <0x18>;
	};

	/* EEPROM */
	carrier_eeprom: eeprom@57 {
		compatible = "st,24c02", "atmel,24c02";
		reg = <0x57>;
		pagesize = <16>;
	};
};

/* Aquila I2C_2 */
&mcu_i2c1 {
	status = "okay";
};

&usb0 {
	status = "okay";
};

&wkup_gpio0 {
	pinctrl-names = "default";
	pinctrl-0 = <&pinctrl_mcu_mcan0_gpio>;
};
